@charset "UTF-8";
h1 {
  color: #682829;
  font-size: 30pt;
  text-align: center;
  margin: 100px 0;
  font-family: sans-serif; }

a {
  color: #000; }
  a:hover {
    color: #000; }

.header {
  padding-top: 20px;
  height: 84vh;
  background: url("../img/inicial.jpg");
  background-size: cover;
  background-position: 10%; }

.decoracao {
  /*decora├º├úo da imagem do logo*/
  display: inline-block;
  height: 10px;
  width: 230px;
  background-color: #fffaf0;
  vertical-align: top;
  margin-top: 70px;
  margin-right: -30px; }

.menu-background {
  background: #eee8da; }
  .menu-background .logo-horizontal img {
    margin: 10px 0; }
  .menu-background .navheader {
    /*menu inicial */ }
    .menu-background .navheader .menu-inicial {
      float: right;
      margin-top: 15px; }
      .menu-background .navheader .menu-inicial li {
        float: left;
        margin: 20px;
        font-family: "Raleway", sans-serif;
        font-size: 18pt;
        padding-bottom: 2px; }
        .menu-background .navheader .menu-inicial li:hover {
          border-bottom: 2px solid #682829; }

.sombra-menu {
  background: #cac3b5;
  height: 2px;
  width: 100%;
  margin: none;
  padding: none; }

.eventos {
  background: #fffaf0; }
  .eventos img {
    max-width: 100%; }
  .eventos .eventos-frase-final {
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-size: 18pt;
    text-align: center; }
    .eventos .eventos-frase-final:before {
      content: '"'; }
    .eventos .eventos-frase-final:after {
      content: '"'; }

.eventos-subtitulo, .trinta-anos-requinte .trinta-anos-cliente-nome, .catalogos .catalogo-item-titulo {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18pt; }

.eventos-corpo-texto, .trinta-anos-requinte .trinta-anos-historia, .trinta-anos-requinte .trinta-anos-cliente-depoimento {
  margin: 10px 0;
  font-size: 14pt;
  font-family: "Raleway", sans-serif;
  line-height: 22px; }

.decoracao-laranja {
  display: block;
  width: 175px;
  height: 3px;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffe5b6; }

.trinta-anos-requinte {
  background: #682829;
  color: white;
  padding-bottom: 40px; }
  .trinta-anos-requinte .trinta-anos-titulo {
    color: white;
    margin-bottom: 30px; }
  .trinta-anos-requinte .trinta-anos-historia {
    padding-left: 15px; }
  .trinta-anos-requinte .decoracao-laranja {
    display: block;
    margin: 40px 0 20px 0;
    margin-left: auto;
    margin-right: auto; }
  .trinta-anos-requinte .trinta-anos-cliente-nome {
    font-size: 16pt;
    margin-top: 50px; }
  .trinta-anos-requinte .trinta-anos-cliente-depoimento {
    margin-top: 20px; }

.catalogos {
  padding-bottom: 40px;
  background: #fffaf0; }
  .catalogos .catalogo-item {
    background: #682829;
    padding: 30px;
    -webkit-box-shadow: 0px 5px 29px -5px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 0px 5px 29px -5px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 5px 29px -5px rgba(0, 0, 0, 0.68); }
  .catalogos h1 {
    margin-bottom: 40px; }
  .catalogos .catalogo-item-titulo {
    color: white;
    margin-bottom: 30px;
    text-transform: uppercase; }

.catalogo-download {
  background: black;
  font-family: "Raleway", sans-serif;
  font-size: 18pt;
  color: white;
  border: none;
  padding: 5px 50px;
  margin-top: 25px; }
  .catalogo-download:hover {
    background: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=style.css.map */
